<div class="menu-header-wrapper" [ngStyle] = "{'height' : headerHeight+'px'}"
    [@showHeader]="showHeader ? 'show' : 'hide'"
>
    
    

    <div  class="menu-icon" >
        <div (click)="onClickHambuger()" class="btn">
            <div class="icon-bar" [@hamburguerX]="menuOpenClose ? 'topX' : 'hamburguer'"></div>
            <div class="icon-bar" [@hamburguerX]="menuOpenClose ? 'hide' : 'hamburguer'"></div>
            <div class="icon-bar" [@hamburguerX]="menuOpenClose ? 'bottomX' : 'hamburguer'"></div>
        </div>
    </div>

    <div class="spacer"></div>

    <img class="menu-logo" src="./assets/vektor/tc_logo_3_bg_blue2.svg"/>
    
    <!-- <mp-header-navigation *ngIf="!this.isSmallScreen" [screenSizeClass]="this.screenSizeClass" [screenTypeClass]="this.screenTypeClass" [navItems]="this.navItems"></mp-header-navigation> -->
    



    
</div>

<div  class="menu-sidenav" 
    [@menuTrigger]="menuOpenClose ? 'open' : 'close'"    
>
    
    <mp-header-navigation (closeMenu)="this.getCloseMenu($event)" [screenSizeClass]="this.screenSizeClass" [screenTypeClass]="this.screenTypeClass" [navItems]="this.navItems"></mp-header-navigation>

    <!-- <div *ngFor = "let navItem of navItems"  class="menu-link-wrapper smallScreen" (mouseenter)="(!this.isTouch ? navItem.expand = !navItem.expand : null)" (mouseleave)="(!this.isTouch ? navItem.expand = !navItem.expand : null)">
        <div class="menu-link-body smallScreen">
            <div class="menu-link smallScreen" [routerLink]="navItem.path" [routerLinkActive] = "'active'" (click)="onClickHambuger()">{{navItem.displayName}} </div>
            <div class="expand-icon" *ngIf="navItem.furtherItems !== undefined" (click)="navItem.expand = !navItem.expand">
                <div class="expand-icon-bar left" [@linkExpansionIcon]="navItem.expand ? 'expandLeft' : 'notExpand'"></div>
                <div class="expand-icon-bar right" [@linkExpansionIcon]="navItem.expand ? 'expandRight' : 'notExpand'"></div>
            </div>
        </div>
        
        <div [@linkExpansionBody]="navItem.expand ? 'expand' : 'notExpand'" class="expansion-body">
            <div *ngFor = "let navItem of navItem.furtherItems"  class="menu-link-wrapper smallScreen links-secondary">
                <div class="menu-link-body smallScreen">
                    <div class="menu-link smallScreen" [routerLink]="navItem.path" [routerLinkActive] = "'active'" (click)="onClickHambuger()">{{navItem.displayName}}</div>
                    <div class="expand-icon" *ngIf="navItem.furtherItems !== undefined" (click)="navItem.expand = !navItem.expand">
                        <div class="expand-icon-bar left" [@linkExpansion]="navItem.expand ? 'expandLeft' : 'notExpand'"></div>
                        <div class="expand-icon-bar right" [@linkExpansion]="navItem.expand ? 'expandRight' : 'notExpand'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
</div>