<div class="page-wrapper">

    <div class="spacer-div">
        
    </div>

    <mp-slideshow class="my-slide">
            <img class = "slide-img" src="/assets/mp-assets/mp-images/flatiron.jpg" alt="" srcset="" #mpslideitem>

            <img class = "slide-img" src="/assets/mp-assets/mp-images/alps1.jpg" alt="" srcset="" #mpslideitem>

            <img class = "slide-img" src="/assets/mp-assets/mp-images/brookly_bridge.jpg" alt="" srcset="" #mpslideitem>

            <img class = "slide-img" src="/assets/mp-assets/mp-images/building_facet1.jpg" alt="" srcset="" #mpslideitem>

    </mp-slideshow>

    <mp-scroll-view-top-image>

    </mp-scroll-view-top-image>

<!-- 
    <mp-content-slider height = "700" [params]="{type : 'SLIDE', animationDuration : 500, showIndicators: true}">
        <mp-content-slider-item>
            <div class="slideItem type1" [ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/flatiron.jpg)'}"></div>
        </mp-content-slider-item>
        <mp-content-slider-item>
            <div class="slideItem type2" [ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/alps1.jpg)'}"></div>
        </mp-content-slider-item>
        <mp-content-slider-item>
            <div class="slideItem type3" [ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/brookly_bridge.jpg)'}"></div>
        </mp-content-slider-item>
    </mp-content-slider> -->
<!-- 
    <div class="para-container">
        <div class="sticky-img" [ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/flatiron.jpg)'}"></div>
        <div class="block-1" [ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/alps1.jpg)'}">
            
        </div>
    </div>

    <div class="block-1" [ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/alps1.jpg)'}">
        <div class="sticky">Neu te ut dolore</div>
    </div>
    
    <div class="block-2"[ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/brookly_bridge.jpg)'}">
        <div class="sticky-img" [ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/flatiron.jpg)'}"></div>
    
    </div>
    <div class="block-3" [ngStyle]="{'background-image' : 'url(/assets/mp-assets/mp-images/flatiron.jpg)'}">
        <div class="sticky">Lobortis & nostrud</div>
    </div>
     -->
</div>