
<div [ngClass]="'navigation-wrapper ' + this.screenSizeClass">


    <div *ngFor = "let navItem of navItems"  [ngClass]="'menu-link-wrapper ' + this.screenSizeClass" (mouseenter)="this.screenTypeClass === 'type-mouse' ? navItem.expand = !navItem.expand : null" (mouseleave)="this.screenTypeClass === 'type-mouse' ? navItem.expand = !navItem.expand : null">
        <div [ngClass]="'menu-link-body ' + this.screenSizeClass">
            <div [ngClass]="'menu-link ' + this.screenSizeClass + this.getActiveNav(navItem.path)" [routerLink]="navItem.path" [routerLinkActive] = "'active'" (click)="this.itemClicked()">{{navItem.displayName}}</div>
            <div [ngClass]="'expand-icon ' + this.screenSizeClass" *ngIf="navItem.furtherItems !== undefined" (click)=" this.screenTypeClass === 'type-touch' ? navItem.expand = !navItem.expand : null">
                <div class="expand-icon-bar left" [@linkExpansionIcon]="navItem.expand ? 'expandLeft' : 'notExpand'"></div>
                <div class="expand-icon-bar right" [@linkExpansionIcon]="navItem.expand ? 'expandRight' : 'notExpand'"></div>
            </div>
        </div>
        
        
        <div [@linkExpansionBody]="navItem.expand ? 'expand' : 'notExpand'" [ngClass]="'expansion-body ' + this.screenSizeClass" >
            <div *ngFor="let navItem of navItem.furtherItems"  [ngClass]="'menu-link-wrapper ' + this.screenSizeClass + ' links-secondary'">
                <div [ngClass]="'menu-link-body ' + this.screenSizeClass">
                    <div [ngClass]="'menu-link sub-link ' + this.screenSizeClass + this.getActiveNav(navItem.path)" [routerLink]="navItem.path" [routerLinkActive] = "'active'" (click)="this.itemClicked()">{{navItem.displayName}}</div>
                    <div class="expand-icon" *ngIf="navItem.furtherItems !== undefined" (mouseover)="navItem.expand = !navItem.expand">
                        <div class="expand-icon-bar left" [@linkExpansion]="navItem.expand ? 'expandLeft' : 'notExpand'"></div>
                        <div class="expand-icon-bar right" [@linkExpansion]="navItem.expand ? 'expandRight' : 'notExpand'"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
