<div class="mp-modal-dialog-wrapper" 
    [@openCloseBackground]="{value : wrapperOpen, params : {duration: params.animationDuration}}" (click)="close()"
>
</div>
<div [ngClass]="'mp-modal-dialog-container '+isScreenClass" [ngStyle]="{'height' : params.height + '%'}"
    [@openCloseContent]="{value : contentOpen, params : {touchY : touchTranslate, duration: params.animationDuration}}"
    
>
    <div [ngClass]="'mp-modal-header ' + isTouchClass" (touchstart) = "getTouchStart($event)" (touchmove) = "barTouchMove($event)" (touchend) = "onTouchLeave()">
        <div *ngIf = "isTouch" class="mp-modal-top-bar" [@barTouch]="touchOnBar ? 'touch' : 'noTouch'">
            
        </div>
        <div *ngIf = "!isTouch" class="mp-modal-close-wrapper" >
            <mat-icon class = "close-icon" (click) = "close()">clear</mat-icon>
        </div>
    </div>
    <div [ngClass]="'mp-modal-content ' + isTouchClass">
        <ng-content></ng-content>
    </div>
</div>
